
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    

<div class="page-content">
    <div class="container-fluid" style="max-width: 960px ; margin:auto ; float: right">
        <div class="row " style="margin;">
        <form class="well form-horizontal" enctype="multipart/form-data" action="/add-product" method="post"
            id="add-product">
            <fieldset>

                <!-- Form Name -->
                <legend>
                    <center>
                        <h2><b>Add product</h2>
                    </center>
                </legend><br>

                <!-- Text input-->

                <div class="form-group">
                    <label class="col-md-4 control-label">Product Name</label>
                    <div class="col-md-4 inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input name="productname" placeholder="Product Name" class="form-control" type="text">
                        </div>
                    </div>
                </div>

                <!-- Text input-->

                <div class="form-group">
                    <label class="col-md-4 control-label">Size</label>
                    <div class="col-md-4 inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input name="size" placeholder="size" class="form-control" type="text">
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-4 control-label">Category</label>
                    <div class="col-md-4 selectContainer">
                        <div class="input-group">

                            <select name="category" class="form-control selectpicker">
                                {{#each result}}
                                <option value="{{this.category}}">{{this.category}}</option>

                                {{/each}}
                            </select>
                            <span class="input-group-addon">
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-4 control-label">Price</label>
                    <div class="col-md-4 inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input name="price" placeholder="Price" class="form-control" type="text">
                        </div>
                    </div>
                </div>
                <!-- Text input-->

                <div class="form-group">
                    <label class="col-md-4 control-label">Discription</label>
                    <div class="col-md-4 inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input name="discription" placeholder="discription" class="form-control" type="text">
                        </div>
                    </div>
                </div>

                <!-- Text input-->

                <div class="form-group">
                    <label class="col-md-4 control-label">Image</label>
                    <div class="col-md-4 inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input name="image" id="image" placeholder="Password" class="form-control" type="file">
                        </div>
                    </div>
                </div>

                <!-- Text input-->



                <!-- Text input-->




                <!-- Button -->
                <div class="form-group">
                    <label class="col-md-4 control-label"></label>
                    <div class="col-md-4"><br>
                        <button type="submit" class="btn btn-warning">SUBMIT <span
                                class="glyphicon glyphicon-send"></span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</button>
                    </div>
                </div>

            </fieldset>
        </form>
        </div>
    </div>
</div><!-- /.container -->

</div>

</body>
 <script>

      $(document).ready(function () {

        $("#add-product").validate({
          rules: {
            productname: {
              required: true,
              minlength: 3
            },
            size: {
              required: true,
              Number: true
            },
            price: {
              required: true,
              Number: true,
              maxlength: 10
            },
            discription: {
              required: true,
              minlength: 5
            }

          }
        });
      });


       
  </script>
</html>





