<!doctype html>
<html lang="en">

    
<!-- Mirrored from themesbrand.com/skote/layouts/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 11 Mar 2021 13:20:02 GMT -->
<head>
        
        <meta charset="utf-8" />
        <title>BUY-HIGH|  - Admin & Dashboard Template</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
        <meta content="Themesbrand" name="author" />
        <!-- App favicon -->
        <link rel="shortcut icon" href="../assets/images/favicon.ico">

        <!-- Bootstrap Css -->
        <link href="../assets/css/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css" />
        <!-- Icons Css -->
        <link href="../assets/css/icons.min.css" rel="stylesheet" type="text/css" />
        <!-- App Css-->
        <link href="../assets/css/app.min.css" id="app-style" rel="stylesheet" type="text/css" />

    </head>

    <body data-sidebar="dark">

    <!-- <body data-layout="horizontal" data-topbar="dark"> -->

        <!-- Begin page -->
        <div id="layout-wrapper">
            <header id="page-topbar">
                <div class="navbar-header">
                    <div class="d-flex">
                        <!-- LOGO -->
                        <div class="navbar-brand-box">
                            <a href="" class="logo logo-light">
                                <span class="logo-sm">
                                    <h1>admin</h1>
                                </span>
                                <span class="logo-lg" style="font-size: 2rem;color: white;">
                                   Admin
                                </span>
                            </a>
                        </div>
                        
                        <button type="button" class="btn btn-sm px-3 font-size-16 header-item waves-effect" id="vertical-menu-btn">
                            <i class="fa fa-fw fa-bars"></i>
                        </button>

                        <!-- App Search-->
                        <form class="app-search d-none d-lg-block">
                            <div class="position-relative">
                                <input type="text" class="form-control" placeholder="Search...">
                                <span class="bx bx-search-alt"></span>
                            </div>
                        </form>

                                   <div class="dropdown d-none d-lg-inline-block ms-1">
                            <button type="button" class="btn header-item noti-icon waves-effect" data-toggle="fullscreen">
                                <i class="bx bx-fullscreen"></i>
                            </button>
                        </div>

                    
                        </div>
                        <div class="dropdown d-inline-block">
                            <button type="button" class="btn header-item waves-effect float-end" id="page-header-user-dropdown"
                            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              
                               
                                <i class="mdi mdi-chevron-down d-none d-xl-inline-block" class="float-end"></i>
                            </button>
                            <div class="dropdown-menu dropdown-menu-end ">
                                <!-- item-->
                                <a class="dropdown-item" href="#"><i class="bx bx-user font-size-16 align-middle me-1"></i> <span key="t-profile">Profile</span></a>
                                
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item text-danger" href="/admin-logout"><i class="bx bx-power-off font-size-16 align-middle me-1 text-danger"></i> <span key="t-logout">Logout</span></a>
                            </div>
                        </div>

                        

                    </div>
                </div>
            </header>

            <!-- ========== Left Sidebar Start ========== -->
            <div class="vertical-menu">

                <div data-simplebar class="h-100">

                    <!--- Sidemenu -->
                    <div id="sidebar-menu">
                        <!-- Left Menu Start -->
                        <ul class="metismenu list-unstyled" id="side-menu">
                            <li class="menu-title" key="t-menu">Menu</li>

                            <li>
                                
                                {{!-- <ul class="sub-menu" aria-expanded="false">
                                    <li><a href="/user-management" key="t-default">User Management</a></li>
                                    <li><a href="/product-management" key="t-saas">Product Management</a></li>
                                    <li><a href="dashboard-crypto.html" key="t-crypto">Crypto</a></li>
                                    <li><a href="dashboard-blog.html" key="t-blog">Blog</a></li>
                                </ul> --}}
                                 <a href="/user-management" class="waves-effect">
                                    <i class="fa fa-users" aria-hidden= "true"></i>
                                    <span key="t-dashboards">USER MANAGEMENT</span>
                                </a>
                                 <a href="/product-management" class="waves-effect">
                                <i class="fas fa-air-freshener"></i>
                                    <span key="t-dashboards">PRODUCT MANAGEMENT</span>
                                </a>
                                 <a href="/category-management" class="waves-effect">
                               <i class="fab fa-artstation"></i>
                                    <span key="t-dashboards">CATEGORY MANAGEMENT</span>
                                </a>
                                 <a href="/order-management" class="waves-effect">
                              <i class="fab fa-first-order"></i>
                                    <span key="t-dashboards">ORDER MANAGEMENT</span>
                                </a>
                                 <a href="" class="waves-effect">
                                  <i class="fas fa-coffee"></i>
                                    <span key="t-dashboards">OFFER MANAGEMENT</span>
                                </a>
                                <a href="/saleReport" class="waves-effect">
                                  <i class="fas fa-balance-scale"></i>
                                    <span key="t-dashboards">SALES REPORTS</span>
                                </a>
                            </li>
                    </div>
                    <!-- Sidebar -->
                </div>
            </div>
            <!-- Left Sidebar End -->

            

        <!-- JAVASCRIPT -->
        <script src="../assets/libs/jquery/jquery.min.js"></script>
        <script src="../assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="../assets/libs/metismenu/metisMenu.min.js"></script>
        <script src="../assets/libs/simplebar/simplebar.min.js"></script>
        <script src="../assets/libs/node-waves/waves.min.js"></script>

        <!-- apexcharts -->
        <script src="../assets/libs/apexcharts/apexcharts.min.js"></script>

        <!-- dashboard init -->
        <script src="../assets/js/pages/dashboard.init.js"></script>

        <!-- App js -->
        <script src="../assets/js/app.js"></script>
   
