
<div class="container">
    <div class="row">
<form>
  <label for="fname">user name:</label><br>
  <input type="text" id="fname" name="fname" value="{{user.username}}"><br>
  <label for="lname">email:</label><br>
  <input type="email" id="email" name="email" value="{{user.email}}">
   <label for="lname">mobile:</label><br>
  <input type="text" id="mobile" name="mobile" value="{{user.mobile}}">
  <button type="button" class="btn btn-primary">submit</button>
</form>
    </div>
</div>
        {{!-- <!-- Bootstrap core JavaScript
    ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    </div>

</div>
</div>

<script>
    function removeAddress(firstName, streetAddress, phone) {
        $.ajax({
            url: '/removeAddress',
            data: {
                firstName: firstName,
                streetAddress: streetAddress,
                phone: phone
            },
            method: 'post',
            success: (response) => {
                if (response) {
                    document.getElementById(firstName + streetAddress + phone).style.display = "none"
                }
            }
        })
    }
</script>

<script>
    function changePhoto() {
        console.log('uui')
        $('#profilePhotoInput').click()
        let result = document.querySelector('.result'),
                save = document.querySelector('.save'),
                cropped = document.querySelector('.profilePhoto'),
                upload = document.querySelector('#profilePhotoInput'),
                cropper = '';
            upload.addEventListener('change', (e) => {
                if (e.target.files.length) {
                    // start file reader
                    const reader = new FileReader();
                    reader.onload = (e) => {
                        if (e.target.result) {
                            // create new image
                            $("#exampleModalCenter").modal("show");
                            let img = document.createElement('img');
                            img.id = 'image';
                            img.src = e.target.result
                            // clean result before
                            result.innerHTML = '';
                            // append new image
                            result.appendChild(img);
                            // init cropper
                            cropper = new Cropper(img);
                        }
                    };
                    reader.readAsDataURL(e.target.files[0]);
                }
            });
            save.addEventListener('click', (e) => {
                e.preventDefault();
                // get result to data uri
                let imgSrc = cropper.getCroppedCanvas({
                    width: 300 // img disp value
                }).toDataURL();
                $("#exampleModalCenter").modal("hide");
                console.log('src', imgSrc)
                cropped.src = imgSrc;
                console.log('imagee', imgSrc)
                $("#imageBase64Data").val(imgSrc);
                var base = document.getElementById('imageBase64Data').value
                console.log('kittiyeaa', base)
            });        
    }
</script>

<script>
    function viewPhoto(event) {
        document.getElementById('profilePhoto').src = URL.createObjectURL(event.target.files[0])
        let file = event.target.files[0].name
        let filename = file.split('.').pop()
        if (filename == 'jpeg' || filename == 'png' || filename == 'jpg') {
            
            $('#not-img-error').hide()
            $('#profilePhoto').show()
        } else {
            $('#not-img-error').show()
            
            $('#profilePhoto').hide()
        }
        var newPhoto = $('#profilePhotoInput').val()
        console.log('dey..', newPhoto)
        $.ajax({
            url: '/changeProfilePhoto',
            method: 'post',
            data: {
                profilePhoto: newPhoto
            },
            success: (response) => {
                if (response) {
                    alert('added')
                }
            }
        })
    }
</script> --}}