 
 <section  >
 <div class="container " style="max-width:400px; margin-top: 5em";>
<div class="row" >
 <div class="btn btn-default">
    <form class="form-signin">       
      <h2 class="form-signin-heading"> login</h2>
      <input type="text" class="form-control" name="username" placeholder="Enter  mobile Number" required="" autofocus="" />
            
      
      <button class="btn btn-lg " type="submit">Verify OTP</button>   
    </form>
  </div>

</div>
 </div>
 </section>