 <section class="container "  style="max-width:400px; margin-top: 5em;">
 <div class="container" >
<div class="row">
 <div class="btn btn-default">
    <form action="/signupOTPSubmit" method="post" class="form-signin">       
      <h2 class="form-signin-heading">OTP Signup</h2>
      <input  class="form-control"  type="number" name="Otp" placeholder="Enter  mobile Number" required="" autofocus="" />
            
      
      <button class="btn btn-lg btn-primary btn-block" type="submit">Request OTP</button>   
    </form>
  </div>

</div>
 </div>
 </section>