 <section class="container "  style="max-width:400px; margin-top: 5em;">
 <div class="container" >
<div class="row">
 <div class="btn btn-default">
    <form class="form-signin" action="/userOTPSubmit" method="post">       
      <h2 class="form-signin-heading">Verification</h2>
      <input  class="form-control" type="number" name="Otp" placeholder="Enter the OTP" required />
            
      
      <button class="btn btn-lg btn-primary btn-block" type="submit">Verify OTP</button>   
    </form>
  </div>

</div>
 </div>
 </section>