 <section class="container "  style="max-width:400px; margin-top: 5em;">
 <div class="container" >
<div class="row">
 <div class="btn btn-default">
    <form  action="/userOTPLogin" method="post" class="form-signin">       
      <h2 class="form-signin-heading">OTP login</h2>
      <input class="form-control" type="number" name="mobile" placeholder="Mobile Number" required minlength="10" maxlength="10" />
        {{!-- {{#if phoneErr}}
          <p class="text-center text-danger">{{phoneErr}}</p>
        {{/if}}      --}}
      
      <button class="btn btn-lg btn-primary btn-block" type="submit">Request OTP</button>   
    </form>
  </div>

</div>
 </div>
 </section>